<div id="<%= dom_id branch %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= branch.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= branch.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= branch.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= branch.country %>
  </p>

</div>
