<h1>Thank you for booking with us, <%= @voucher.contact_name %>!</h1>
<h2>Client information:</h2>
<p>
<strong>Name:</strong> <%= @voucher.contact_name %><br>
<strong>Reservation code:</strong> <%= @voucher.branched_id %><br>
<strong>Activity:</strong> <%= @activity.name %><br>
<strong>Provider:</strong> <%= @provider.name %><br>
<strong>Reservation date:</strong> <%= @voucher.reservation_date.strftime("%d/%m/%Y") %><br>
<strong>Pickup time:</strong> <%= @voucher.reservation_date.strftime("%I:%M%p") %><br>
</p>
<h2>Payment information:</h2>
<p>
<strong>Form of payment:</strong> <%= @voucher.payment_type.humanize.capitalize %><br>
<% if @voucher.payment_tax %>
  <strong>Credit card service fee applied?</strong> <%= @voucher.payment_tax%><br>
<% end %>
<strong>Total:</strong> <%= @voucher.total %><br>
</p>
<h2>Comments:</h2>
<p>
  <%= @voucher.total_adults %> x Adults<br>
  <%= @voucher.total_minors %> x Minors
</p>
<p><%= @voucher.comment %></p>
<h2>Thanks for joining and have a great day!</h2>
<h3>CANCELLATION POLICY</h3>
<p>
  No refunds will apply for cancellations made less than 24 hours before the scheduled service start time or for no-show services.
  Refunds will only apply to cancellations made up to 24 hours prior to the scheduled time (conditions may apply).
  Rates are subject to changes without previous advice. Please call to our Contact Center department directly in the event of any changes.
</p>
