<div id="<%= dom_id activity %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= activity.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= activity.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= activity.provider.name %>
  </p>

  <strong class="block font-medium mb-1">Provider prices:</strong>
  <div class="flex flex-row justify-around">
    <p class="my-5">
      <strong class="block font-medium mb-1">General price:</strong>
      $<%= activity.provider_general_price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Minor price:</strong>
      <% if activity.provider_minor_price? %>
        $<%= activity.provider_minor_price %>
      <% else %>
        N/A
      <% end %>
    </p>
  </div>

  <strong class="block font-medium mb-1">Public prices:</strong>
  <div class="flex flex-row justify-around">
    <p class="my-5">
      <strong class="block font-medium mb-1">General price:</strong>
      $<%= activity.public_general_price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Minor price:</strong>
      <% if activity.public_minor_price %>
        $<%= activity.public_minor_price %>
      <% else %>
        N/A
      <% end %>
    </p>
  </div>
</div>
