<div id="<%= dom_id voucher %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Voucher code:</strong>
    <%= voucher.branched_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guest name:</strong>
    <%= voucher.contact_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guest email:</strong>
    <%= voucher.contact_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seller's name:</strong>
    <%= voucher.user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Activity:</strong>
    <%= voucher.activity.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reservation date:</strong>
    <%= voucher.reservation_date.strftime("%d/%m/%Y") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pickup time:</strong>
    <%= voucher.reservation_date.strftime("%I:%M%p") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total adults:</strong>
    <%= voucher.total_adults %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total minors:</strong>
    <%= voucher.total_minors %>
  </p>

  <% unless voucher.comment.empty?%>
    <p class="my-5">
      <strong class="block font-medium mb-1">Comments:</strong>
      <%= voucher.comment %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= voucher.status.capitalize %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Form of payment:</strong>
    <%= voucher.payment_type.humanize.capitalize %>
  </p>

  <% if voucher.payment_tax%>
    <p class="my-5">
      <strong class="block font-medium mb-1">Credit card service fee applied?</strong>
      <%= human_boolean(voucher.payment_tax) %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= voucher.total %>
  </p>

</div>
