<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @voucher %>

    <% if current_user.admin? %>
      <%= link_to "Edit this voucher", edit_voucher_path(@voucher), class: "mt-2 rounded-lg py-1.5 px-2.5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Back to vouchers", vouchers_path, class: "ml-2 rounded-lg py-1.5 px-2.5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block">
        <%= button_to "Destroy this voucher", @voucher, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "mt-2 rounded-lg py-1.5 px-2.5 bg-red-700 text-white font-medium" %>
      </div>
    <% else %>
      <%= link_to "Back to vouchers", vouchers_path, class: "mt-2 rounded-lg py-1.5 px-2.5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
